$padding: 20px;
#standup-overlay {
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	text-align: center;
	color: #444;
	&::shadow {
		font-size: 16px;
		h1 {
			font-size: 3em;
			text-align: center;
		}
		h3 {
			text-align: center;
		}
		.quote {
			text-align: center;
			font-size: 1.2em;
			font-style: italic;
			margin: 0 auto;
			width: auto;
		}
		.container {
			width: 960px;
			margin: 0 auto;
			padding-top: 50px;
			@media (max-width: 960px) {
				width: auto;
			}
		}
		.email-form {
			width: 50%;
			margin: 0 auto;
			padding: 10px;
			margin-top: 20px;
			background: #efefef;
			label, input[type="email"] {
				width: 100%;
			}
			h2 {
				text-align: left;
			}
			.mc-field-group {
				text-align: left !important;
			}
			.email {
				font-size: 14px;
				padding: 5px;
				height: 45px;
				border: 2px solid #fafafa;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				margin-bottom: 10px;
			}
			.button {
				background: black;
				color: white;
				border: none;
				padding: 15px 40px;
				width: 100%;
			}
		}
	}
	
}
 