$padding: 20px;
@import 'mixins';

#standup-overlay {
	font-family: Helvetica, Arial, sans-serif;
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 19999999999;
	text-align: center;
	color: #444;
	&::shadow {
		$radialBarColor: #C86DD7 ;
		$timerColor: rgba(255, 255, 255, 0.8);
		$fontColor: #888;
		$fontFamily: "Helvetica Neue";
		$backgroundColor: #fff;
		$backgroundTimerColor: white;
		$sizeTimer: 200px;
		$borderWidth: 4px;
		$fontSize: 70px;

		.radialtimer {
			width: 200px;
			height: 200px;
			margin: 0 auto;
			//width: $sizeTimer;
			//height: $sizeTimer;
			//position: absolute;
			//top: 50%;
			//left: 50%;
			//margin: -1 * ($sizeTimer / 2) 0 0 -1 * ($sizeTimer / 2);

			.n {
				position: absolute;
				width: $sizeTimer;
				height: $sizeTimer;
				background: $backgroundTimerColor;
				border-radius: 50%;
				text-align: center;
				line-height: $sizeTimer;
				font-family: $fontFamily;
				font-size: $fontSize;
				color: $fontColor;
			}

			.slice {
				position: absolute;
				width: $sizeTimer;
				height: $sizeTimer;
				clip: rect(0px, $sizeTimer, $sizeTimer, ($sizeTimer / 2));

				&.nc {
					clip: rect(auto, auto, auto, auto);
				}

				.q {
					position: absolute;
					width: ($sizeTimer - $borderWidth * 2);
					height: ($sizeTimer - $borderWidth * 2);
					border: ($borderWidth + 1) $backgroundTimerColor solid;
					border-radius: 50%;
					clip: rect(0px, ($sizeTimer / 2), ($sizeTimer / 2), 0px);
					z-index: 2;
				}

				.pie {
					border: $borderWidth $radialBarColor solid;
					position: absolute;
					width: ($sizeTimer - $borderWidth * 2);
					height: ($sizeTimer - $borderWidth * 2);
					clip: rect(0px, ($sizeTimer / 2), $sizeTimer, 0px);
					border-radius: 50%;
					transition: all 1s linear;
					z-index: 1;
				}
			}
		}

		font-family: Helvetica, Arial, sans-serif;
		font-size: 16px;
		line-height: normal;
		h1, h2, h3, h4, h5, h6 {
			margin: 0;
		}
		h1 {
			font-size: 3em;
			text-align: center;
		}
		h3 {
			text-align: center;
		}
		.img-container {
			width: 200px;
			margin: 0 auto;
			padding: 20px 0;
			
			img {
				width: 100%;
				height: auto;
				border: 5px solid #fafafa;
				-webkit-border-radius: 500px;
				-moz-border-radius: 500px;
				border-radius: 500px;
				-webkit-box-shadow: 5px 5px 0 0 #efefef;
				box-shadow: 5px 5px 0 0 #efefef;
			}
		}
		.quote {
			text-align: center;
			font-size: 1.2em;
			font-style: italic;
			font-weight: 300;
			margin: 0 auto;
			width: auto;
		}
		.container {
			width: 960px;
			margin: 0 auto;
			padding-top: 50px;
			@media (max-width: 960px) {
				width: auto;
			}
		}
		.email-form {
			width: 50%;
			margin: 0 auto;
			padding: 10px;
			margin-top: 20px;
			background: #fafafa;
			border: 2px solid #efefef;
			label, input[type="email"] {
				width: 100%;
			}
			h2 {
				text-align: left;
			}
			.mc-field-group {
				text-align: left !important;
			}
			.email {
				font-size: 14px;
				padding: 5px;
				height: 45px;
				border: 2px solid #efefef;
				@include box-sizing(border-box);
				margin-bottom: 10px;
				&:focus {
					outline: 0;
					border-color: #ccc;
				}
			}
			.button {
				background: #54b948;
				color: white;
				border: none;
				padding: 15px 40px;
				width: 100%;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				-webkit-box-shadow: 5px 5px 0 0 #599B49;
				box-shadow: 5px 5px 0 0 #599B49;
				&:hover {
					cursor: pointer;
					background: #42B936;
				}
			}
		}
	}
}

#standup-popup-container {
	font-family: Helvetica, Arial, sans-serif;
	width: 400px;
	padding: 25px;
	border-bottom: 4px solid #54b948;
	h1, h2, h3, h4, h5, h6 { margin: 0; font-weight: 300; }
	h4 {
		font-style: italic;
		color: #666;
	}
}
 

