@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\000034}}
#standup-overlay {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 19999999999;
  text-align: center;
  color: #444;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\0000315}}
#standup-overlay::shadow {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\0000326}}
#standup-overlay::shadow .radialtimer {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\0000337}}
#standup-overlay::shadow .radialtimer .n {
  position: absolute;
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 50%;
  text-align: center;
  line-height: 200px;
  font-family: "Lato";
  font-size: 80px;
  font-weight: 100;
  color: #333333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\0000351}}
#standup-overlay::shadow .radialtimer .slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\0000357}}
#standup-overlay::shadow .radialtimer .slice.nc {
  clip: rect(auto, auto, auto, auto);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\0000361}}
#standup-overlay::shadow .radialtimer .slice .q {
  position: absolute;
  width: 194px;
  height: 194px;
  border: 4px white solid;
  border-radius: 50%;
  clip: rect(0px, 100px, 100px, 0px);
  z-index: 2;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\0000371}}
#standup-overlay::shadow .radialtimer .slice .pie {
  border: 3px #c86dd7 solid;
  position: absolute;
  width: 194px;
  height: 194px;
  clip: rect(0px, 100px, 200px, 0px);
  border-radius: 50%;
  transition: all 1s linear;
  z-index: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\0000387}}
#standup-overlay::shadow h1, #standup-overlay::shadow h2, #standup-overlay::shadow h3, #standup-overlay::shadow h4, #standup-overlay::shadow h5, #standup-overlay::shadow h6 {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\0000390}}
#standup-overlay::shadow h1 {
  font-size: 88px;
  font-weight: 100;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\0000395}}
#standup-overlay::shadow h3 {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\0000398}}
#standup-overlay::shadow .img-container {
  width: 200px;
  margin: 0 auto;
  padding: 20px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\00003103}}
#standup-overlay::shadow .img-container img {
  width: 100%;
  height: auto;
  border: 5px solid #fafafa;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  -webkit-box-shadow: 5px 5px 0 0 #efefef;
  box-shadow: 5px 5px 0 0 #efefef;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\00003114}}
#standup-overlay::shadow .quote {
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
  font-weight: 300;
  margin: 0 auto;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\00003122}}
#standup-overlay::shadow .container {
  width: 960px;
  margin: 0 auto;
  padding-top: 50px;
}
@media (max-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\00003122}}
  #standup-overlay::shadow .container {
    width: auto;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\00003130}}
#standup-overlay::shadow .email-form {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  margin-top: 20px;
  background: #fafafa;
  border: 2px solid #efefef;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\00003137}}
#standup-overlay::shadow .email-form label, #standup-overlay::shadow .email-form input[type="email"] {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\00003140}}
#standup-overlay::shadow .email-form h2 {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\00003143}}
#standup-overlay::shadow .email-form .mc-field-group {
  text-align: left !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\00003146}}
#standup-overlay::shadow .email-form .email {
  font-size: 14px;
  padding: 5px;
  height: 45px;
  border: 2px solid #efefef;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\00003153}}
#standup-overlay::shadow .email-form .email:focus {
  outline: 0;
  border-color: #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\00003158}}
#standup-overlay::shadow .email-form .button {
  background: #54b948;
  color: white;
  border: none;
  padding: 15px 40px;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 0 0 #599B49;
  box-shadow: 5px 5px 0 0 #599B49;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\00003169}}
#standup-overlay::shadow .email-form .button:hover {
  cursor: pointer;
  background: #42B936;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\00003178}}
#standup-popup-container {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  width: 400px;
  padding: 25px;
  border-bottom: 4px solid #54b948;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\00003183}}
#standup-popup-container h1, #standup-popup-container h2, #standup-popup-container h3, #standup-popup-container h4, #standup-popup-container h5, #standup-popup-container h6 {
  margin: 0;
  font-weight: 300;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Documents\/Gene\%20Guru\/stand-up-chrome-extension\/app\/styles\/main\.scss}line{font-family:\00003184}}
#standup-popup-container h4 {
  font-style: italic;
  color: #666;
}
